<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
    <meta charset="UTF-8">
    <title>网页标题</title>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/axios.min.js"></script>
    <script type="text/javascript" src="/js/queryString.js"></script>
    <script type="text/javascript">

    </script>
    <style type="text/css">
        .err {
            color: red;
        }

        input {
            width: 100px;
        }

        .imgSmall {
            width: 24%;
        }

        .imgMedium {
            width: 33%;
        }

        .imgLarge {
            width: 100%;
        }
    </style>
</head>
<body>
<div id="app">
    <div style="position: fixed">
        <select v-model="path" multiple="multiple">
            <option v-for="(v,k,i) in fileMap" :value="k" v-if="!v.includes('.zip')">{{k}}</option>
        </select>
        <br><br>
        <button @click="archive()">归档</button>
        <br><br><br>
        <button @click="del()">删除</button>
        <br>
    </div>
    <div v-if="width<=800">
        <img v-for="pid in path" :src="encodeURI(fileMap[pid])" style="width: 100%">
    </div>

    <div v-if="width>800">
        <img v-for="pid in path" :src="encodeURI(fileMap[pid])"
             :class="width > 1200 ? 'imgSmall' : width>1000?'imgMedium':'imgLarge'"
             @click.left="clickLeft(pid)"
             @click.prevent.right="clickRight(pid)">
    </div>
</div>
</body>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            width: 1000,
            path: [],
            fileMap: {},
        },
        methods: {
            getUntagged() {
                get("/file/getUntagged", null, function (res) {
                    _this.fileMap = res.data;
                    _this.width = window.innerWidth;
                    if (_this.width > 800) {
                        let a = Object.keys(_this.fileMap);
                        _this.path = [a[0], a[1], a[2], a[3]];
                    } else {
                        _this.path = [Object.keys(res.data)[0]];
                    }
                    console.log(res.data);
                })
            },
            clickLeft(pid) {
                window.open(encodeURI(this.fileMap[pid]))
            },
            clickRight(pid) {
                this.remove(pid);
            },
            del() {
                let s = _this.path;
                console.log("删除： " + s)
                for (let i = 0; i < s.length; i++) {
                    Vue.delete(_this.fileMap, s[i])
                    let a = Object.keys(_this.fileMap);
                    _this.path = [a[0], a[1], a[2], a[3]];
                }
                get("/file/del", {pid: s.toString()}, function (res) {
                    console.log(res.data)
                })
            },
            archive() {
                let s = _this.path;
                console.log("归档： " + s)
                for (let i = 0; i < s.length; i++) {
                    Vue.delete(_this.fileMap, s[i])
                    let a = Object.keys(_this.fileMap);
                    _this.path = [a[0], a[1], a[2], a[3]];
                }
                get("/file/archive", {pid: s.toString()}, function (res) {
                    console.log(res.data)
                })
            },
            remove(pid) {
                if (this.path.includes(pid)) {
                    let i = this.path.indexOf(pid);
                    this.path.splice(i, 1);
                } else {
                    this.path.push(pid);
                }
                console.log(this.path)
            }
        },
        created() {
            this.getUntagged();

            setInterval(function () {
                _this.width = window.innerWidth
            }, 200)

            document.onkeypress = function (e) {
                console.log(e)

                if (e.keyCode === 100) {
                    //删除
                    _this.del()
                }

                if (e.keyCode === 97) {
                    //归档
                    _this.archive()
                }
            }

        },
    });
    const _this = app;
</script>
</html>

