<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
    <meta charset="UTF-8">
    <title>未分类作品</title>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/axios.min.js"></script>
    <script type="text/javascript" src="/js/queryString.js"></script>
    <script type="text/javascript">

    </script>
    <style type="text/css">
        .err {
            color: red;
        }

        input {
            width: 100px;
        }

        .imgSmall {
            width: 24%;
        }

        .imgMedium {
            width: 33%;
        }

        .imgLarge {
            width: 100%;
        }
    </style>
</head>
<body>
<div id="app">
    <select v-model="type" @change="getFileMap()">
        <option>未分类</option>
        <option>搜索</option>
        <option>转发</option>
    </select>
    <div v-if="type==='转发'">
        <select v-model="param.fid">
            <option v-for="(v,k) in fidList" :value="v.id">{{v.name}}</option>
        </select>
        <select v-model="param.tid">
            <option v-for="(v,k) in tidList" :value="v.id">{{v.name}}</option>
        </select>
        <select v-model="param.username">
            <option v-for="(v,k) in user" :value="v">{{v}}</option>
        </select>
        <select v-model="param.action">
            <option value="reply">回复</option>
            <option value="new">主题</option>
        </select>
        <button @click="repost()">转发</button>
    </div>
    <div style="position: fixed">
        <select v-model="path" multiple="multiple">
            <option v-for="(v,k,i) in fileMap">{{k}}</option>
        </select>
        <br><br>
        <button @click="archive()">归档</button>
        <br><br><br>
        <button @click="del()">删除</button>
        <br>
    </div>
    <div v-if="width<=800">
        <img v-for="pid in path" :src="encodeURI(fileMap[pid])" style="width: 100%">
    </div>

    <div v-if="width>800">
        <img v-for="pid in path" :src="encodeURI(fileMap[pid])"
             :class="width > 1200 ? 'imgSmall' : width>1000?'imgMedium':'imgLarge'"
             @click.left="clickLeft(pid)"
             @click.prevent.right="clickRight(pid)">
    </div>
</div>
</body>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            type: "未分类",
            width: 1000,
            path: [],
            tidList: [],
            fidList: [],
            user: [],
            fileMap: {},
            param: {fid: 0, tid: 0, username: "", action: "reply"},
        },
        methods: {
            getFileMap() {
                get("/file/getFileMap", {type: this.type}, function (res) {
                    _this.fileMap = res.data;
                    _this.width = window.innerWidth;
                    if (_this.width > 800) {
                        let a = Object.keys(_this.fileMap);
                        _this.path = [a[0], a[1], a[2], a[3]];
                    } else {
                        _this.path = [Object.keys(res.data)[0]];
                    }
                    console.log(res.data);
                })
            },
            clickLeft(pid) {
                window.open(encodeURI(this.fileMap[pid]))
            },
            clickRight(pid) {
                this.remove(pid);
            },
            del() {
                let s = _this.path;
                let b = this.width > 800;
                console.log("删除： " + s)
                for (let i = 0; i < s.length; i++) {
                    Vue.delete(_this.fileMap, s[i])
                }
                let a = Object.keys(_this.fileMap);

                if (b) {
                    _this.path = [a[0], a[1], a[2], a[3]];
                } else {
                    _this.path = [a[0]];
                }
                get("/file/del", {pid: s.toString(), type: this.type}, function (res) {
                    console.log(res.data)
                    if (a.length === 0) {
                        _this.getFileMap();
                    }
                })
            },
            archive() {
                let s = _this.path;
                let b = this.width > 800;
                console.log("归档： " + s)
                for (let i = 0; i < s.length; i++) {
                    Vue.delete(_this.fileMap, s[i])
                }
                let a = Object.keys(_this.fileMap);

                if (b) {
                    _this.path = [a[0], a[1], a[2], a[3]];
                } else {
                    _this.path = [a[0]];
                }
                get("/file/archive", {pid: s.toString(), type: this.type}, function (res) {
                    console.log(res.data)
                    if (a.length === 0) {
                        _this.getFileMap();
                    }
                })
            },
            remove(pid) {
                if (this.path.includes(pid)) {
                    let i = this.path.indexOf(pid);
                    this.path.splice(i, 1);
                } else {
                    this.path.push(pid);
                }
                console.log(this.path)
            },
            addRepostQueue() {
                let s = _this.path;
                console.log("添加转发： " + s)
                for (let i = 0; i < s.length; i++) {
                    Vue.delete(_this.fileMap, s[i])
                    let a = Object.keys(_this.fileMap);
                    _this.path = [a[0], a[1], a[2], a[3]];
                }
                get("/file/addRepostQueue", {pid: s.toString()}, function (res) {
                    console.log(res.data)
                })
            },
            getNgaData() {
                get("/nga/getTidList", null, function (res) {
                    console.log(res.data);
                    _this.tidList = res.data;
                    _this.param.tid = _this.tidList[1].id;
                })
                get("/nga/getFidList", null, function (res) {
                    console.log(res.data);
                    _this.fidList = res.data;
                    _this.param.fid = _this.fidList[1].id;
                })
                get("/nga/getUser", null, function (res) {
                    console.log(res.data);
                    _this.user = res.data;
                    _this.param.username = _this.user[0];
                })
            },
            repost() {
                let p = _this.param;
                p.pid = _this.path.toString();
                get("/nga/repost", p, function (res) {
                    let url = res.data;
                    console.log(url);
                    if (url.includes("http")) {
                        window.open(url);
                    }
                    _this.getFileMap();
                })
            }
        },
        created() {
            this.getFileMap();
            this.getNgaData();

            setInterval(function () {
                _this.width = window.innerWidth
            }, 200)

            document.onkeypress = function (e) {
                console.log(e)

                if (e.keyCode === 100) {
                    //删除
                    _this.del()
                }

                if (e.keyCode === 97) {
                    //归档
                    _this.archive()
                }

                if (e.keyCode === 114) {
                    _this.addRepostQueue()
                }
            }

        },
    });
    const _this = app;
</script>
</html>

